:root {
    --footerBGColor: #47525D;
    --bodyBGColor: #F0F5F4;
    --navBGColor: #172533;
    --lightBoxColor: #CEDEED;
    --darkBoxColor: #A3B2C1;
    --buttonColor: #6FABD6;
}

@font-face {
    font-family: 'Joan';
    src: url('/fonts/Joan-Regular.ttf');
}

html {
    background-color: black;
    justify-self: center;
    min-width: 1400px;
    max-width: 2500px;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: var(--bodyBGColor);
    padding: 0;
    margin: 0;
}

.navBar {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
    align-content: space-evenly;
    background-color: var(--navBGColor);
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

nav>a {
    margin-right: 2rem;
    color: white;
    font-size: 2rem;
    text-decoration: none;
    transition-duration: 250ms;
    transition-property: color;
    transition-timing-function: ease;
}

a.active {
    color: var(--darkBoxColor);
}

nav>a:hover {
    pointer-events: auto;
    color: var(--buttonColor);
    transition-duration: 250ms;
    transition-property: color;
    transition-timing-function: ease;
}


.logo {
    margin-right: auto;
}

.heroImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    max-height: 1000px;
    object-fit: cover;
}

.heroText {
    position: absolute;
    text-align: center;
    font-size: 5rem;
    top: 150px;
    left: 10%;
    color: #FFFFFF;
    text-shadow: -2px 2px 4px black;
}

.topImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    opacity: 0.9;
    filter: brightness(40%);
}

.topText {
    position: absolute;
    text-align: center;
    font-size: 6rem;
    top: 100px;
    left: auto;
    color: #FFFFFF;
}

.row {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    text-align: left;
    justify-content: space-around;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    margin: 12vh 3%;
}

.backgroundRow {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    text-align: left;
    justify-content: space-around;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    margin: 8vh 1%;
    padding: 3% 0;
    border-radius: 15px;
}

.verticalRow {
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
    text-align: left;
    justify-content: space-around;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    padding: 4% 0;
    border-top: solid var(--darkBoxColor) 1px;
    border-bottom: solid var(--darkBoxColor) 1px;
}

.vertRowItem:first-child {
    height: 50vh;
}

.vertRowItem {
    box-sizing: border-box;
    width: 65%;
    object-fit: cover;
    align-items: center;
    justify-items: center;
    margin-bottom: 0;
    font-size: 2rem;
}

.light {
    background-color: var(--lightBoxColor);
}

.dark {
    background-color: var(--darkBoxColor);
}

.twoPartItem {
    box-sizing: border-box;
    width: 42%;
    align-items: center;
    justify-items: center;
    margin-bottom: 0;
    font-size: 2rem;
}

.threePartItem {
    box-sizing: border-box;
    justify-content: space-evenly;
    margin-bottom: 0;
    justify-items: center;
}

.card {
    width: 25%;
    height: 700px;
    background-color: var(--lightBoxColor);
    display: flex;
    flex-flow: nowrap column;
    border: solid 2px black;
    justify-content: flex-start;
    border-radius: 10px;
    font-size: 2rem;
}

.card p {
    margin: 0 5%;
    font-size: 2rem;
}

.cardImage {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card h3 {
    margin: 2vh 5%;
    font-size: 3rem;
    margin-bottom: 2%;
}

.cardLink {
    text-decoration: none;
    background-color: var(--darkBoxColor);
    color: black;
    font-size: 1.8rem;
    padding: 2%;
    border: solid 1px black;
    border-radius: 5px;
    align-self: flex-end;
    margin: 5%;
    margin-top: auto;
    transition: all 200ms;
}

.cardLink:hover{
    background-color:var(--buttonColor);
    transition: all 10s;
}

body{
    transition: all 0.2s;
    
}
body:hover{
    /* translate: 300% 0; */
    rotate: 1deg;
    /* rotate: 45deg; */
    /* filter: invert(1); */
    /* rotate: -720deg; */
    /* translate: 0 150%;
    transform: rotate(45deg); */
    transition: all 2s;
    /* translate: -260px; */
}

.cardLink{
    transition: all 5s;
}

.cardLink:hover{
    translate: -180px 0;
    rotate: -720deg;
    /* rotate: 45deg; */
    /* filter: invert(1); */
    /* rotate: -720deg; */
    /* translate: 0 150%;
    transform: rotate(45deg); */
    transition: all 5s;
    /* translate: -260px; */
}

.light{
    transition: all 200ms;
    background-color: var(--lightBoxColor);
}

.light:hover{
    background-color: var(--darkBoxColor);
    transition: all 200ms;
}

address{
    transition: all 200ms;
}

address:hover{
    scale: 10;
    transition: all 200ms;
}

.dark{
    transition: all 200ms;
    background-color: var(--darkBoxColor);
}

.dark:hover{
    background-color: var(--lightBoxColor);
    transition: all 200ms;
}

img{
    transition: all 20s;
}

img:hover{
    translate: 2000px 0;
    /* rotate: 45deg; */
    /* filter: invert(1); */
    /* rotate: -720deg; */
    /* translate: 0 150%;
    transform: rotate(45deg); */
    transition: all 20s;
    /* translate: -260px; */
}

h2, h3, h4, p{
    transition: all 2s;
}

h1{
    transition: all 5s;
}

h1:hover{
    rotate: 4000deg;
    scale: 0;
    transition: all 5s;
}

nav{
    transition: all 15s;
}

nav:hover{
    translate: 0 90vh;
    transition: all 15s;
}

h2:hover, h3:hover, h4:hover, p:hover{
    /* translate: 300% 0; */
    rotate: 180deg;
    /* rotate: 45deg; */
    /* filter: invert(1); */
    /* rotate: -720deg; */
    /* translate: 0 150%;
    transform: rotate(45deg); */
    transition: all 2s;
    /* translate: -260px; */
}

.footer {
    color: white;
    display: flex;
    background-color: var(--footerBGColor);
    padding: 5%;
    justify-items: center;
    align-items: flex-start;
    font-size: 1.5rem;
}

address {
    width: 45%;
    margin-right: 5%;
}

p {
    font-family: 'Joan';
}

.vertRowItem h3, .twoPartItem h3{
    font-size: 3rem;
    margin-bottom: 1%;
}

.noMargin {
    justify-content: space-evenly;
    margin: 0 0;
    border-radius: 0;
}

.convenienceCard {
    width: 34%;
    background-color: white;
    padding: 2%;
    border: 0;
    height: 760px;
    border-radius: 25px;
}

.roundedImage {
    border-radius: 20px;
}

.center {
    align-self: center;
}

.fitWidth {
    width: 100%;
    height: auto;
}